ConsoleApp2/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getIr">
        <s:complexType />
      </s:element>
      <s:element name="getIrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIrResult" type="tns:interfaceReservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="interfaceReservation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="hotels" type="tns:ArrayOfHotel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Hotel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="nbDeChambres" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="lieu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="adresse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nbEtoiles" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="chambres" type="tns:ArrayOfIChambre" />
          <s:element minOccurs="0" maxOccurs="1" name="agence" type="tns:Agence" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIChambre">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IChambre" nillable="true" type="tns:IChambre" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IChambre" abstract="true" />
      <s:complexType name="Chambre">
        <s:complexContent mixed="false">
          <s:extension base="tns:IChambre">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="nbDePersonnes" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="imagePath" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="prixParNuitTTC" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="reservations" type="tns:ArrayOfReservation" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfReservation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Reservation" />
      <s:complexType name="ChambreDecorateur">
        <s:complexContent mixed="false">
          <s:extension base="tns:IChambre" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ChambreSimple">
        <s:complexContent mixed="false">
          <s:extension base="tns:ChambreDecorateur">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="nbDePersonnes" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="prixParNuitTTC" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ChambreDouble">
        <s:complexContent mixed="false">
          <s:extension base="tns:ChambreDecorateur">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="nbDePersonnes" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="prixParNuitTTC" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Agence">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="taux" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="getresr">
        <s:complexType />
      </s:element>
      <s:element name="getresrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getresrResult" type="tns:Reservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechercherIdHotel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ville" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nbEtoiles" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechercherIdHotelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RechercherIdHotelResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="signUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identifiant" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="motDePasse" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="signUpResponse">
        <s:complexType />
      </s:element>
      <s:element name="Rechercher">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ville" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="arrivee" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="depart" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="prixMin" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="prixMax" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nbEtoiles" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nbDePersonnes" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identifiant" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Motdepasse" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechercherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RechercherResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reserFinal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="arr" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fin" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prenom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reserFinalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reserFinalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getIrSoapIn">
    <wsdl:part name="parameters" element="tns:getIr" />
  </wsdl:message>
  <wsdl:message name="getIrSoapOut">
    <wsdl:part name="parameters" element="tns:getIrResponse" />
  </wsdl:message>
  <wsdl:message name="getresrSoapIn">
    <wsdl:part name="parameters" element="tns:getresr" />
  </wsdl:message>
  <wsdl:message name="getresrSoapOut">
    <wsdl:part name="parameters" element="tns:getresrResponse" />
  </wsdl:message>
  <wsdl:message name="RechercherIdHotelSoapIn">
    <wsdl:part name="parameters" element="tns:RechercherIdHotel" />
  </wsdl:message>
  <wsdl:message name="RechercherIdHotelSoapOut">
    <wsdl:part name="parameters" element="tns:RechercherIdHotelResponse" />
  </wsdl:message>
  <wsdl:message name="signUpSoapIn">
    <wsdl:part name="parameters" element="tns:signUp" />
  </wsdl:message>
  <wsdl:message name="signUpSoapOut">
    <wsdl:part name="parameters" element="tns:signUpResponse" />
  </wsdl:message>
  <wsdl:message name="RechercherSoapIn">
    <wsdl:part name="parameters" element="tns:Rechercher" />
  </wsdl:message>
  <wsdl:message name="RechercherSoapOut">
    <wsdl:part name="parameters" element="tns:RechercherResponse" />
  </wsdl:message>
  <wsdl:message name="reserFinalSoapIn">
    <wsdl:part name="parameters" element="tns:reserFinal" />
  </wsdl:message>
  <wsdl:message name="reserFinalSoapOut">
    <wsdl:part name="parameters" element="tns:reserFinalResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageFile" />
  </wsdl:message>
  <wsdl:message name="GetImageFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageFileResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="getIr">
      <wsdl:input message="tns:getIrSoapIn" />
      <wsdl:output message="tns:getIrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getresr">
      <wsdl:input message="tns:getresrSoapIn" />
      <wsdl:output message="tns:getresrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RechercherIdHotel">
      <wsdl:input message="tns:RechercherIdHotelSoapIn" />
      <wsdl:output message="tns:RechercherIdHotelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="signUp">
      <wsdl:input message="tns:signUpSoapIn" />
      <wsdl:output message="tns:signUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Rechercher">
      <wsdl:input message="tns:RechercherSoapIn" />
      <wsdl:output message="tns:RechercherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reserFinal">
      <wsdl:input message="tns:reserFinalSoapIn" />
      <wsdl:output message="tns:reserFinalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageFile">
      <wsdl:input message="tns:GetImageFileSoapIn" />
      <wsdl:output message="tns:GetImageFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getIr">
      <soap:operation soapAction="http://tempuri.org/getIr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getresr">
      <soap:operation soapAction="http://tempuri.org/getresr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercherIdHotel">
      <soap:operation soapAction="http://tempuri.org/RechercherIdHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signUp">
      <soap:operation soapAction="http://tempuri.org/signUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rechercher">
      <soap:operation soapAction="http://tempuri.org/Rechercher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserFinal">
      <soap:operation soapAction="http://tempuri.org/reserFinal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageFile">
      <soap:operation soapAction="http://tempuri.org/GetImageFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getIr">
      <soap12:operation soapAction="http://tempuri.org/getIr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getresr">
      <soap12:operation soapAction="http://tempuri.org/getresr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercherIdHotel">
      <soap12:operation soapAction="http://tempuri.org/RechercherIdHotel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signUp">
      <soap12:operation soapAction="http://tempuri.org/signUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rechercher">
      <soap12:operation soapAction="http://tempuri.org/Rechercher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserFinal">
      <soap12:operation soapAction="http://tempuri.org/reserFinal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageFile">
      <soap12:operation soapAction="http://tempuri.org/GetImageFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44371/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44371/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>